/*

Fonts:
  Main:
  font-family: 'Open Sans', sans-serif;

Palette:
  Orange Highlight:
  #DB794C

 */

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a:link, a:visited {
  color: #555;
  text-decoration: none;
}

a:active, a:hover {
  color: #DB794C;
}

.wrapper {
  margin: 0;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.wrapper > * {
  flex: 1 100%;
}

header {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header .subheader-left {
  flex: 1 20%;
}

header img {
  width: 100%;
  height: auto;
  max-height: 300px;
}

header .subheader-right{
  flex: 2 80%;
}

header nav {
}

header nav .nav-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

header nav .nav-main .nav-item {
  /*display: inline-block;*/
  border: 1px #DB794C solid;
  min-width: 20%;
  padding: 1%;
  border-radius: 5px;
}

header nav .nav-main .nav-item:hover {
  cursor: pointer;
  color: white;
  background-color: #DB794C;
}

.dropdown {
}

.dropdown-content {
  display:none;
  color: black;
  border: 1px #DB794C solid;
  border-radius: 0 0 0 5px;
  z-index: 1;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 1.5% 0;
}

.dropdown-content li {
  border: none;
  padding: 1.5% 0;
}

.dropdown-content li:hover {
  color: orange;
}
